<footer>
    <section class="foot-about">
      <h3>Au petit Village</h3>
      <p>
        une entreprise qui confectionne des figurines inspirées de la bande
        dessinée Astérix et Obélix.
      </p>
    </section>
    <section class="social">
      <a href="http://github.com">
        <i
          class="fa-brands fa-github fa-beat"
          style="color: var(--tertiary-color)"
        >
        </i>
      </a>
      <a href="http://twitter.com">
        <i
          class="fa-brands fa-x-twitter fa-beat"
          style="color: var(--tertiary-color)"
        ></i>
      </a>
      <a href="https://fr.linkedin.com">
        <i
          class="fa-brands fa-linkedin fa-beat"
          style="color: var(--tertiary-color)"
        ></i>
      </a>
    </section>
  </footer>